@import "tailwindcss";

:root {
  --background: #050505;
  --sidebar-bg: #0a0a0a;
  --header-bg: rgba(5, 5, 5, 0.8);
  --card-bg: #121212;
  --primary: #8adffc;
  --accent: #38bdf8;
  --text-primary: #ffffff;
  --text-secondary: #a1a1aa;
  --success: #22c55e;
  --font-outfit: "Outfit", sans-serif;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  background-color: var(--background);
  color: var(--text-primary);
  font-family: var(--font-outfit);
}

/* Custom Scrollbar for Webkit */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #334155;
}

/* Utilities */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.text-link-bold {
  font-weight: 700;
  color: white;
  transition: color 0.2s;
}

.text-link-bold:hover {
  color: #00b9f0;
}

@keyframes bounce-slow {

  0%,
  100% {
    transform: translateY(-5%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-bounce-slow {
  animation: bounce-slow 2s infinite;
}

@keyframes shimmer {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

.shimmer {
  animation: shimmer 2s infinite ease-in-out;
}

.shimmer-card {
  animation: shimmer 3s infinite ease-in-out;
}

.animate-spin-slow {
  animation: spin 3s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes loading {
  0% {
    margin-left: -100%;
    width: 50%;
  }

  50% {
    margin-left: 25%;
    width: 50%;
  }

  100% {
    margin-left: 100%;
    width: 50%;
  }
}

/* Hide number input spinners */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}